.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 200;
  ul {
    list-style: none;
    a {
      margin: 0 10px;
      &:hover {
        img {
          transform: scale(1.05);
          opacity: 1;
        }
      }
    }
  }
  nav {
    a {
      color: $font-color;
      text-decoration: none;
      transition: all 0.2s;
      padding: 5px 15px;
      opacity: 0.4;
      &:first-child {
        border-right: 1px solid $font-color;
      }
      &:hover {
        color: transparent;
        background-clip: text;
        background-image: $gradient;
        opacity: 1;
        &:first-child {
          border-right: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  ul,
  .footer-download,
  .footer-social {
    display: flex;
    align-items: center;
  }
  .footer-download {
    span {
      opacity: 0.4;
    }
    ul {
      padding-left: 20px;
    }
  }
  .footer-social {
    ul {
      li {
        opacity: 0.4;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
