.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-left: 14px;
    font-size: 25px;
  }
}

@media screen and (max-width: 799px) {
  .header {
    span {
      font-size: 18px;
    }
  }
}
