@import './variables/_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './normalize/normalize';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 20px;
  color: $font-color;
  background: $ink-color;
  background-image: url('../images/bg_img.png');
  background-attachment: fixed;
}

h1 {
  font-size: 37px;
  line-height: 40px;
  font-weight: normal;
}
h1,
h2,
h3 {
  letter-spacing: 0.02em;
}
h2,
h3 {
  font-size: 22px;
  font-weight: normal;
}

section {
  text-align: center;
}

h3 {
  color: transparent;
  background-clip: text;
  background-image: $gradient;
  margin-top: 46px;
  margin-bottom: 20px;
}
.font-s {
  font-size: 12px;
  opacity: 0.4;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
  }
}

@import './components/_button';
@import './components/_header';
@import './components/_footer';
@import './components/_subscriptions';
@import './components/_subscriptionsInfo';
