.container,
%container768 {
  max-width: 1920px;
  grid-gap: 30px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  & .col-1 {
    grid-column: span 1;
    @for $i from 1 through 11 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 2;
      }
    }
  }
  & .col-2 {
    grid-column: span 2;
    @for $i from 1 through 10 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 3;
      }
    }
  }
  & .col-3 {
    grid-column: span 3;
    @for $i from 1 through 9 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 4;
      }
    }
  }
  & .col-4 {
    grid-column: span 4;
    @for $i from 1 through 8 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 5;
      }
    }
  }
  & .col-5 {
    grid-column: span 5;
    @for $i from 1 through 7 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 6;
      }
    }
  }
  & .col-6 {
    grid-column: span 6;
    @for $i from 1 through 6 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 7;
      }
    }
  }
  & .col-7 {
    grid-column: span 7;
    @for $i from 1 through 5 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 8;
      }
    }
  }
  & .col-8 {
    grid-column: span 8;
    @for $i from 1 through 4 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 9;
      }
    }
  }
  & .col-9 {
    grid-column: span 9;
    @for $i from 1 through 3 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 10;
      }
    }
  }
  & .col-10 {
    grid-column: span 10;
    @for $i from 1 through 2 {
      &.col-md-offset-#{$i} {
        grid-column-start: $i + 1;
        grid-column-end: $i + 11;
      }
    }
  }
  & .col-11 {
    grid-column: span 11;
    &.col-md-offset-1 {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
  & .col-12 {
    grid-column: span 12;
  }
}
